{% extends 'base.html.twig' %}

{% block title %}Questiontest{% endblock %}

{% block body %}
    <h1>Questiontest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ questiontest.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ questiontest.designation }}</td>
            </tr>
            <tr>
                <th>ReponseCorrecte</th>
                <td>{{ questiontest.reponseCorrecte }}</td>
            </tr>
            <tr>
                <th>ReponseFausse1</th>
                <td>{{ questiontest.reponseFausse1 }}</td>
            </tr>
            <tr>
                <th>ReponseFausse2</th>
                <td>{{ questiontest.reponseFausse2 }}</td>
            </tr>
            <tr>
                <th>ReponseFausse3</th>
                <td>{{ questiontest.reponseFausse3 }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ questiontest.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('test_show',{'id':questiontest.idTest.id}) }}">back to list</a>

    <a href="{{ path('questiontest_edit', {'id': questiontest.id}) }}">edit</a>

    {{ include('questiontest/_delete_form.html.twig') }}
{% endblock %}
